body {
  text-align: center;
  font-family: Helvetica;
}

#homeimage {
  background-image: url('resources/images/flatiron.png');
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#designed h3{
  color: white;
}

ul li {
    list-style: none;
}

nav a {
  color: white;
  text-align: center;
}

#footer {
  background-color: dimgray;
  color: white;
}

span p {
  color: white
}
